<!DOCTYPE html>
<html lang="{{__ "lang"}}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <title>Codenity</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160607616-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-160607616-1');
    </script>
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FB OG tags -->
    <meta property="og:title" content="Codenity">
    <meta property="og:site_name" content="Codenity.org">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{__ "url"}}">
    <meta property="og:description" content="{{__ "feature2_descr"}}">
    <meta property="og:image" content="/img/logo-fb-thumbnail.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="#"
              ><img style="padding: 15px;"  width="200" src="/img/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul style="color: white;" class="nav navbar-nav menu_nav ml-auto">
{{!--                 <li class="nav-item active">
                  <a class="nav-link" href="#">{{__ "menu_option1"}}</a>
                </li> --}}
{{!--                 <li class="nav-item">
                  <a class="nav-link" href="#">{{__ "menu_option2"}}</a>
                </li> --}}

                {{!-- <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >{{__ "menu_option3"}}</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Blog</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">{{__ "menu_option4"}}</a>
                </li> --}}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content text-center">
                <p class="text-uppercase">
                  {{__ "subtitle"}}
                </p>
                <h2 class="text-uppercase mt-4 mb-5" style="color: white;">
                    {{__ "title"}}
                </h2>
                <div>
                  <a href="#features" class="primary-btn2 mb-3 mb-sm-0">{{__ "cta_caption"}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start Feature Area =================-->
    <section id="features" class="feature_area section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">{{__ "feature_section_title"}}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">{{__ "feature1_title"}}</h4>
                <p>
                  {{__ "feature1_descr"}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-earth"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">{{__ "feature2_title"}}</h4>
                <p>
                    {{__ "feature2_descr"}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">{{__ "feature3_title"}}</h4>
                <p>
                    {{__ "feature3_descr"}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->

    <!--================ Start Slack Area =================-->
    <div class="slack" id="slack-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="main_title">
              <h2 class="mb-3">{{__ "slack_section_title"}}</h2>
              <p>
                {{__ "slack_section_subtitle"}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="steps">
        <div class="container">
          <div class="row justify-content-center justify-content-md-start">
            <div class="w-75 col-lg-4 col-md-6 mb-5">
              <div class="item-content">
                <span class="step-number">1</span>
                <p>{{__ "slack_step_1"}} <b><a target="_blank" href="{{__ "slack_download_link"}}">{{__ "slack_step_1.1"}}</a></b> </p>
              </div>
              <img class="img-fluid" src="/img/slack-section/step-1.png" alt="" />
            </div>
            <div class="w-75 col-lg-4 col-md-6 mb-5">
              <div class="item-content">
                <span class="step-number">2</span>
                <p>{{__ "slack_step_2"}} <b><a target="_blank" href="https://codenity-team.slack.com/join/shared_invite/enQtOTQwMTY4ODY0Mjc4LTg0MDg0OGYzMzJkZTExYjEzZTIzZjIxYzc3ZDZjMDU1MGRjOWVlZmU3ODMwN2QyYTQxODBjNmE5YjVmZGExNDA">{{__ "slack_step_2.1"}}</a></b> </p>
              </div>
              <img class="img-fluid" src="/img/slack-section/step-2.png" alt="" />
            </div>
            <div class="w-75 col-lg-4 col-md-6 mb-5">
              <div class="item-content">
                <span class="step-number">3</span>
                <p>{{__ "slack_step_3"}}</p>
              </div>
              <img class="img-fluid" src="/img/slack-section/step-3.png" alt="" />
            </div>
            <div class="w-75 col-lg-4 col-md-6 mb-5">
              <div class="item-content">
                <span class="step-number">4</span>
                <p>{{__ "slack_step_4"}}</p>
              </div>
              <img class="img-fluid" src="/img/slack-section/{{__ "slack_step_4_img" }}" alt="" />
            </div>
            <div class="w-75 col-lg-4 col-md-6">
              <div class="item-content">
                <span class="step-number">5</span>
                <p>{{__ "slack_step_5"}}</p>
              </div>
              <img class="img-fluid" src="/img/slack-section/step-5.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Slack Area =================-->

    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">{{__ "projects_section_title"}}</h2>
              <p>
                {{__ "projects_section_subtitle"}}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single course -->
          <div class="col-lg-4">
            <div>
              <!--<div data-target="#helpet-modal" data-toggle="modal" class="single_course">-->
              <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="/img/helpet-screen.jpg" alt="" />
                </div>
                <div class="course_content">
                  <h4 class="mb-3">
                    <a href="http://helpet.codenity.org">{{__ "project1_title"}}</a>
                  </h4>
                  <p>
                      {{__ "project1_descr"}}
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    <div class="row authr_meta">
                      <div style="margin: 0 5px;">
                        <img src="/img/courses/author1.png" alt="" />
                      </div>
                      <div style="margin: 0 5px;">
                        <img src="/img/courses/author1.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Popular Courses Area =================-->

    <!--================ Start Helpet Collaborators Modal //TODO =================-->
    <!--
        <div class="modal fade" id="helpet-modal" tabindex="-1" role="dialog" aria-labelledby="Helpet collaborators" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                // TODO collaborators info translations
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        -->
    <!--================ End Helpet Collaborators Modal =================-->

    <!--================ Start Events Area =================-->
    <!--================ End Events Area =================-->

    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row footer-bottom d-flex justify-content-between">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="https://www.facebook.com/codenity19"><i class="ti-facebook"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl-carousel-thumb.min.js"></script>
    <!--gmaps Js-->
    <script src="/js/theme.js"></script>
  </body>
</html>
